<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <meta charset="UTF-8">
    <title>AutoGD</title>
</head>
<body>

<th:block layout:fragment="content">
    <select name="datas" id="worshipselect"
            onchange="this.options[this.selectedIndex].value && (window.location = '/?id=' + this.options[this.selectedIndex].value);">
        <th:block th:each="worship, iStat: ${lastWorships}">
            <option th:value="${worship.getServiceID()}"
                    th:text="${worship.startDate + ' ' + worship.getServiceTitle(worship.getServiceLanguage())}"></option>
        </th:block>
    </select>
    <div class="row">
        <div class="col">
            <video id="player" controls preload="metadata" style="width: 100%; height: auto">
                <source th:src="${'http://localhost:8099/api/service/stream/' + worshipMetadata.getServiceID()}"
                        type="video/mp4">
            </video>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button id="start" class="btn btn-primary">Start</button>
            <button id="end" class="btn btn-primary">End</button>
            <button id="startGeneration" class="btn btn-danger">Start Generation</button>
        </div>
    </div>


    <p>StartTime: <span id="startTime"></span></p>
    <p>EndTime: <span id="endTime"></span></p>

    <div>
        <p th:text="${worshipMetadata.getServiceTitle(worshipMetadata.getServiceLanguage())}">De</p>
        <p th:text="${worshipMetadata.getServiceID()}"></p>
    </div>


    <script>
        function printTimes() {
            document.getElementById('startTime').textContent = formatTime(startTime);
            document.getElementById('endTime').textContent = formatTime(endTime);
        }

        function formatTime(seconds) {
            var date = new Date(null);
            date.setMilliseconds(seconds * 1000);
            return date.toISOString().substr(11, 11);
        }

        // setInterval(printTimes, 1000);
        var worshipMetaDataDto = null;
        var worshipMetaDataDtos = null;
        var player = document.getElementById('player');
        var startButton = document.getElementById('start');
        var endButton = document.getElementById('end');
        var startTime = null;
        var endTime = null;

        startButton.addEventListener("click", function () {
            startTime = player.currentTime;
            printTimes();

        });
        endButton.addEventListener("click", function () {
            endTime = player.currentTime;
            printTimes();
        });

        document.getElementById('startGeneration').addEventListener("click", function () {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", 'http://localhost:8099/api/service/generate', true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify({
                "startTime": formatTime(startTime),
                "endTime": formatTime(endTime),
                "serviceId": "5641"
            }));
        });


        // var xhr = new XMLHttpRequest();
        // xhr.open("GET", 'http://localhost:8099/api/service', true);
        // xhr.onload = function () {
        //     if (xhr.status === 200) {
        //         worshipMetaDataDto = JSON.parse(xhr.responseText);
        //         console.log(worshipMetaDataDto);
        //         var details = document.createElement('div');
        //         details.innerHTML = "<h2>WorshipDetails</h2>" +
        //             "Title: " + worshipMetaDataDto.mainLanguageTitle + "<br>" +
        //             "Date: " + worshipMetaDataDto.series + "<br>" +
        //             "ServiceId: " + worshipMetaDataDto.serviceID + "<br>";
        //         document.body.appendChild(details);
        //     }
        // };
        // xhr.send();


        // var xhr2 = new XMLHttpRequest();
        // xhr2.open("GET", 'http://localhost:8099/api/services', true);
        // xhr2.onload = function () {
        //     if (xhr2.status === 200) {
        //         worshipMetaDataDtos = JSON.parse(xhr2.responseText);
        //         console.log(worshipMetaDataDto);
        //         var details = document.getElementById('worshipselect');
        //         var html = '';
        //         worshipMetaDataDtos.forEach((item) =>
        //             html += "<option value=" + item.serviceID + ">" + item.date + ": " + item.mainLanguageTitle + "</option>"
        //         )
        //         details.innerHTML = html;
        //     }
        // };
        // xhr2.send();




    </script>
</th:block>
</body>
</html>